.wrapper {
   position: relative;
   padding: 20px 0;
   display: flex;
   max-width: 692px;
   &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      -webkit-transform: scaleY(0.5);
      -moz-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background: rgba(22, 24, 35, 0.2);
   }
}

.link-avatar {
   display: block;
   width: 56px;
   height: 56px;
   border-radius: 50%;
   overflow: hidden;
}
.avatar {
   width: 100%;
   object-fit: contain;
}
.content {
   margin-left: 12px;
}

.author {
   display: flex;
   align-items: baseline;
   &:hover .nickname {
      text-decoration: underline;
   }
}
.nickname {
   font-family: SofiaPro;
   font-size: 1.8rem;
   line-height: 25px;
   margin-right: 4px;
}
.username {
   font-size: 1.4rem;
   font-weight: 400;
   line-height: 28px;
}
.description {
   max-width: 510px;
   margin-right: 115px;
}
.description-content {
   font-size: 1.6rem;
   line-height: 22px;
}
.hashtag {
   margin-left: 4px;
   font-weight: 600;
   &:hover {
      text-decoration: underline;
   }
}
.music {
   color: #161823;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   margin-top: 4px;
   margin-bottom: 12px;
   &:hover {
      text-decoration: underline;
   }
}
.follow-btn {
   position: absolute;
   top: 28px;
   right: 0;
}
.video {
   display: flex;
   align-items: flex-end;
   width: 100%;
   max-width: 624px;

   // height: calc(450px + (100vw - 768px) / 1152 * 100);
}
.video-item {
   cursor: pointer;
   border-radius: 8px;
   overflow: hidden;
   margin-right: 20px;
   max-width: 100%;
   video {
      display: block;
      width: 100%;
      height: 100%;
      max-height: calc(450px + (100vw - 768px) / 1152 * 100);
      object-fit: cover;
   }
}
.interact-btn {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.icon {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: #1618230f;
   width: 48px;
   height: 48px;
   margin-top: 8px;
   margin-bottom: 6px;
   font-size: 24px;
}
.number {
   font-family: ProximaNova;
   color: rgba(22, 24, 35, 0.75);
   line-height: 17px;
   font-size: 1.2rem;
   font-weight: 700;
}
