.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1150px;
    padding: 0 20px;
    display: flex;
}
.content{
    flex: 1;
    background-color: #cfc;
}