.wrapper {
   width: 100%;
   height: var(--header-height, 60px);
   box-shadow: 0 1px 1px rgb(0 0 0/12%);
   display: flex;
   justify-content: center;
}
.inner {
   height: 100%;
   width: 1150px;
   padding: 0 20px;
   // background: rgba(255, 255, 255, 1);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.site-logo img {
   vertical-align: middle;
}

.action {
   display: flex;
   align-items: center;
}

.more-btn {
   cursor: pointer;
   background: transparent;
   margin-left: 10px;
   padding: 2px 8px;
   font-size: 2rem;
}

.action-btn {
   position: relative;
   font-size: 2rem;
   padding: 3px;
   color: #161823;
   cursor: pointer;
   margin-left: 16px;
}

.badge {
   position: absolute;
   top: -5px;
   right: -5px;
   font-size: 1.1rem;
   color: var(--white);
   background-color: var(--primary);
   font-weight: 600;
   font-family: var(--font-family);
   padding: 0 6px;
   height: 1.5rem;
   border-radius: 10px;
   line-height: 1.5rem;
}

.user-avatar {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   object-fit: cover;
   margin-left: 16px;
}
