.wrapper {
   width: 320px;
   padding: 20px;
   // background: rgb(255, 255, 255);
}
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.avatar {
   width: 44px;
   height: 44px;
   border-radius: 50px;
   object-fit: cover;
}
.follow-btn {
   height: 34px;
}
.body {
   margin-top: 12px;
   color: #161823;
}

.nickname {
   font-family: SofiaPro;
   max-width: 260px;
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 22px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.check {
   margin-left: 4px;
   color: rgb(32, 213, 236);
}
.name {
   font-size: 1.4rem;
   line-height: 15px;
   font-weight: 600;
}
.stat {
   margin-top: 8px;
   font-size: 1.7rem;
   + span {
      margin-right: 6px;
   }
}
.number ~.number {
    margin-left: 12px;
}
.label {
    color: rgba(22, 24, 35, 0.75);
}
